<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapter 5. Desktop Layout</title>
    <link rel="stylesheet" href="css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
    </style>
</head>
<body>
    <header id="main_header">
        <div id="title">
            <h1>Rint Development</h1>
            <h2>HTML5 + CSS3 Basic</h2>
        </div>
        <nav id="main_gnb">
            <ul>
                <li><a href="#">Web</a></li>
                <li><a href="#">Mobile</a></li>
                <li><a href="#">Game</a></li>
                <li><a href="#">Simulation</a></li>
                <li><a href="#">Data</a></li>
            </ul>
        </nav>
        <nav id="main_lnb">
            <ul>
                <li><a href="#">HTML5</a></li>
                <li><a href="#">CSS3</a></li>
                <li><a href="#">JavaScript</a></li>
                <li><a href="#">jQuery</a></li>
                <li><a href="#">Node.js</a></li>
            </ul>
        </nav>

    </header>

    <div id="content">
        <section id="main_section">
            <article class="main_article">
                <h1>Main Article</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel sapien rhoncus, sagittis justo eu, laoreet risus. In hac habitasse platea dictumst. Etiam in efficitur enim. Integer libero tellus, vulputate vitae gravida vel, posuere eu ligula. Ut a lacinia metus, sit amet efficitur nulla. Phasellus vitae dui vitae libero tempus pharetra eu id turpis. Donec convallis dui sed vulputate luctus. Donec vel ante bibendum, lobortis mi et, auctor velit. Fusce eget mauris in augue ultrices porta.</p>
            </article>
            <article class="main_article">
                <h1>Main Article</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel sapien rhoncus, sagittis justo eu, laoreet risus. In hac habitasse platea dictumst. Etiam in efficitur enim. Integer libero tellus, vulputate vitae gravida vel, posuere eu ligula. Ut a lacinia metus, sit amet efficitur nulla. Phasellus vitae dui vitae libero tempus pharetra eu id turpis. Donec convallis dui sed vulputate luctus. Donec vel ante bibendum, lobortis mi et, auctor velit. Fusce eget mauris in augue ultrices porta.</p>
            </article>
            <article class="main_article">
                <h1>Main Article</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel sapien rhoncus, sagittis justo eu, laoreet risus. In hac habitasse platea dictumst. Etiam in efficitur enim. Integer libero tellus, vulputate vitae gravida vel, posuere eu ligula. Ut a lacinia metus, sit amet efficitur nulla. Phasellus vitae dui vitae libero tempus pharetra eu id turpis. Donec convallis dui sed vulputate luctus. Donec vel ante bibendum, lobortis mi et, auctor velit. Fusce eget mauris in augue ultrices porta.</p>
            </article>
        </section>
        <aside id="main_aside">
            <input id="first" type="radio" name="tab" checked>
            <input id="second" type="radio" name="tab">
            <section class="buttons">
                <label for="first">First</label>
                <label for="second">Second</label>
            </section>
            <div class="tab_item">
                <ul>
                    <li class="item">
                        <a href="#">
                            <div class="thumbnail">
                                <img src="http://placehold.it/45x45" alt="HTML5 Canvas">
                            </div>
                            <div class="description">
                                <strong>HTML5 Canvas</strong>
                                <p>2019-03-15</p>
                            </div>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#">
                            <div class="thumbnail">
                                <img src="http://placehold.it/45x45" alt="HTML5 Audio">
                            </div>
                            <div class="description">
                                <strong>HTML5 Audio</strong>
                                <p>2019-03-15</p>
                            </div>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#">
                            <div class="thumbnail">
                                <img src="http://placehold.it/45x45" alt="HTML5 Video">
                            </div>
                            <div class="description">
                                <strong>HTML5 Video</strong>
                                <p>2019-03-15</p>
                            </div>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#">
                            <div class="thumbnail">
                                <img src="http://placehold.it/45x45" alt="HTML5 Semantic Web">
                            </div>
                            <div class="description">
                                <strong>HTML5 Semantic Web</strong>
                                <p>2019-03-15</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab_item">
                <ul>
                    <li class="item">
                        <a href="#">
                            <div class="thumbnail">
                                <img src="http://placehold.it/45x45" alt="CSS3 Transition">
                            </div>
                            <div class="description">
                                <strong>CSS3 Transition</strong>
                                <p>2019-06-03</p>
                            </div>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#">
                            <div class="thumbnail">
                                <img src="http://placehold.it/45x45" alt="CSS3 Animation">
                            </div>
                            <div class="description">
                                <strong>CSS3 Animation</strong>
                                <p>2019-06-03</p>
                            </div>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#">
                            <div class="thumbnail">
                                <img src="http://placehold.it/45x45" alt="CSS3 Border">
                            </div>
                            <div class="description">
                                <strong>CSS3 Border</strong>
                                <p>2019-06-03</p>
                            </div>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#">
                            <div class="thumbnail">
                                <img src="http://placehold.it/45x45" alt="CSS3 Box">
                            </div>
                            <div class="description">
                                <strong>CSS3 Box</strong>
                                <p>2019-06-03</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
    </div>

    <footer id="main_footer">
        <h3>HTML5 + CSS3</h3>
        <address>Website Layout Basic</address>
    </footer>
</body>
</html>