<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapter 7. Tablet PC Layout</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header id="main_header">
        <h1>Fluid</h1>
    </header>
    <nav id="main_gnb">
        <ul class="left">
            <li><a href="#">Button</a></li>
            <li><a href="#">Button</a></li>
            <li><a href="#">Button</a></li>
            <li><a href="#">Button</a></li>
            <li><a href="#">Button</a></li>
            <li><a href="#">Button</a></li>
        </ul>
        <ul class="right">
            <li><a href="#">Button</a></li>
            <li><a href="#">Button</a></li>
        </ul>
    </nav>
    <div id="wrap">
        <nav id="main_lnb">
            <ul>
                <li><a href="#">Button</a></li>
                <li><a href="#">Button</a></li>
                <li><a href="#">Button</a></li>
                <li><a href="#">Button</a></li>
                <li><a href="#">Button</a></li>
            </ul>
        </nav>
        <div id="content_wrap">
            <div id="content">
                <article>
                    <h1>Lorem ipshum dolor sit amet</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie dapibus tellus vel commodo. Aliquam ut nulla vel quam pretium porttitor in vel neque. In scelerisque eleifend lacinia. Ut maximus lacinia ullamcorper. Phasellus tempor lorem id ligula scelerisque, cursus auctor magna interdum. Phasellus maximus vitae ante id tempor. Nam varius at ligula ut posuere.</p>
                    <p>Maecenas suscipit maximus fringilla. Nullam id nibh nisl. Pellentesque dictum sem at bibendum laoreet. Vivamus quis lectus nec diam euismod volutpat nec at sapien. Donec in lacinia mauris, quis auctor metus. Aenean auctor varius urna eu blandit. Sed luctus tellus diam, a rhoncus odio ultrices efficitur. Ut sit amet est eu mi tempor blandit vel ut elit. Etiam feugiat pulvinar risus sed pharetra. Sed ultricies diam nec nibh maximus interdum. Aliquam erat volutpat. Etiam eleifend quam nec ante malesuada ultrices. Nulla pretium enim nec quam fermentum vestibulum ac sed leo. Ut id varius orci.</p>
                </article>
                <article>
                    <h1>Lorem ipshum dolor sit amet</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie dapibus tellus vel commodo. Aliquam ut nulla vel quam pretium porttitor in vel neque. In scelerisque eleifend lacinia. Ut maximus lacinia ullamcorper. Phasellus tempor lorem id ligula scelerisque, cursus auctor magna interdum. Phasellus maximus vitae ante id tempor. Nam varius at ligula ut posuere.</p>
                    <p>Maecenas suscipit maximus fringilla. Nullam id nibh nisl. Pellentesque dictum sem at bibendum laoreet. Vivamus quis lectus nec diam euismod volutpat nec at sapien. Donec in lacinia mauris, quis auctor metus. Aenean auctor varius urna eu blandit. Sed luctus tellus diam, a rhoncus odio ultrices efficitur. Ut sit amet est eu mi tempor blandit vel ut elit. Etiam feugiat pulvinar risus sed pharetra. Sed ultricies diam nec nibh maximus interdum. Aliquam erat volutpat. Etiam eleifend quam nec ante malesuada ultrices. Nulla pretium enim nec quam fermentum vestibulum ac sed leo. Ut id varius orci.</p>
                </article>
                <article>
                    <h1>Lorem ipshum dolor sit amet</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie dapibus tellus vel commodo. Aliquam ut nulla vel quam pretium porttitor in vel neque. In scelerisque eleifend lacinia. Ut maximus lacinia ullamcorper. Phasellus tempor lorem id ligula scelerisque, cursus auctor magna interdum. Phasellus maximus vitae ante id tempor. Nam varius at ligula ut posuere.</p>
                    <p>Maecenas suscipit maximus fringilla. Nullam id nibh nisl. Pellentesque dictum sem at bibendum laoreet. Vivamus quis lectus nec diam euismod volutpat nec at sapien. Donec in lacinia mauris, quis auctor metus. Aenean auctor varius urna eu blandit. Sed luctus tellus diam, a rhoncus odio ultrices efficitur. Ut sit amet est eu mi tempor blandit vel ut elit. Etiam feugiat pulvinar risus sed pharetra. Sed ultricies diam nec nibh maximus interdum. Aliquam erat volutpat. Etiam eleifend quam nec ante malesuada ultrices. Nulla pretium enim nec quam fermentum vestibulum ac sed leo. Ut id varius orci.</p>
                </article>
            </div>
        </div>
    </div>
    <footer id="main_footer">
        <h3>HTML5 + CSS3 Basic</h3>
        <address>Website Layout Basic</address>
    </footer>
</body>
</html>