<html>
    <head>
        <title>Changing Color</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js"></script>
        <style>
            .box {
                margin: 8px;
                border: 1px solid black;
                width: 100px;
                height: 100px;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <div class="box" :style="backgroundColorStyle"></div>
            <p>
                <input v-model="backgroundColorStyle.backgroundColor" type="color">
                <input v-model="backgroundColorStyle.backgroundColor" type="text">
            </p>

            <!-- display data for debugging -->
            <pre>
                <code>
                    {{$data}}
                </code>
            </pre>
        </div>
    </body>
    <script>
        new Vue({
            el: ".container",
            data: {
                backgroundColorStyle: {
                    "backgroundColor": "#00cc00"
                },
            }
        })
    </script>
</html>