.app-nav {
    margin: 4px;
    border: 1px dotted red;
}
.app-nav > .app-nav-container {
    background-color: rgb(226, 226, 226);
}
.app-nav-container > .app-nav-items {
    display: inline-block;
    overflow: hidden;
    margin: 4px;
    padding: 2px;
}
.app-nav-items .app-nav-item {
    float: left;
    padding: 4px;
    width: 120px;    
    color: white;
    background-color: black;
    text-align: center;
    border: 1px solid black;
    border-radius: 0.25em;
}
.app-nav-items .app-nav-item:hover {
    color: yellow;
    cursor: pointer;
}
.app-nav-items .app-nav-item:active {
    color: red;
    background-color: white;
    border-color: red;
}