h1 {
    color: red;
}

p, li {
    color: green;
}

li {
    list-style-type: none;
}

.special {
    color: orange;
    font-weight: bold;
}

span.special,
li.special {
    color:crimson;
    font-weight: bold;    
}

li em {
    color: rebeccapurple;
}

p em {
    color:tomato;
}

h1 + p {
    font-size: 200%;
}

a:link {
    color: pink;
}

a:visited {
    color: darkolivegreen;
}

a:hover {
    text-decoration: none;
}

body h1 + p .special {
  color: yellow;
  background-color: black;
  padding: 5px;
}

body {
  background-color: pink;
}

@media (min-width: 800px) {
  body {
    background-color: blue;
  }
}