<html>
    <head>
        <title>Vue Event Handling</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js"></script>
    </head>

    <body>
        <div class="container">
            <h1>Upvote Counter (Using a variable)</h1>
            <button v-on:click="upvotes++">Upvote! ({{upvotes}})</button>
            <br>

            <h1>Upvote Counter (Using a method)</h1>
            <!-- v-on: 의 축약형으로 @를 사용할 수 있음 -->
            <button @click="upvote">Upvote! ({{upvotes}})</button>
            <br>

            <h1>Type 2 numbers and choose operation</h1>
            <form class="form-inline">
                <!-- 입력을 숫자로 파싱하기 위해 특수 수식어 'number'를 사용 -->
                <input v-model.number="a" @keyup.enter="calculate" class="form-control">
                <select v-model="operator" class="form-control">
                    <option>+</option>
                    <option>-</option>
                    <option>*</option>
                    <option>/</option>
                </select>
                <input v-model.number="b" @keyup.enter="calculate" class="form-control">
                <button type="submit" @click.prevent="calculate" class="btn btn-primary">Calculate</button>
            </form>
            <h2>Result: {{a}} {{operator}} {{b}} = {{c}}</h2>
            <br>

            <h1>Computed Properties</h1>
            Not Computed(ncom) = {{ncom}}, Computed(com) = {{com}}<br>
            <label for="ncom">Enter value for the not computed:</label>
            <input v-model.number="ncom" name="ncom">
            <br>

            <h1>Calculator Again (Computed Property Version)</h1>
            <form class="form-inline">
                <input v-model.number="a" class="form-control">
                <select v-model="operator" class="form-control">
                    <option>+</option>
                    <option>-</option>
                    <option>*</option>
                    <option>/</option>
                </select>
                <input v-model.number="b" class="form-control">
            </form>
            <h2>Result: {{a}} {{operator}} {{b}} = {{cc}} </h2>
            

            <!-- display data for debugging -->
            <br><br>
            <pre>
                <code>
                    {{$data}}
                </code>
            </pre>
        </div>
    </body>
    <script>
        new Vue({
            el: ".container",
            data: {
                upvotes: 0,
                a: 0,
                b: 0,
                c: 0,
                operator: "+",
                ncom: 1,
            },
            computed: {                
                com: function () {
                    return this.ncom + 1;
                },
                cc: function () {
                    switch (this.operator) {
                        case "+":
                            return this.a + this.b;
                        case "-":
                            return this.a - this.b;
                        case "*":
                            return this.a * this.b;
                        case "/":
                            return this.a / this.b;
                    }
                }
            },
            methods: {
                upvote: function () {
                    this.upvotes++;
                },
                calculate: function (e) {
                    e.preventDefault();
                    switch (this.operator)
                    {
                        case "+":
                            this.c = this.a + this.b;
                            break;
                        case "-":
                            this.c = this.a - this.b;
                            break;
                        case "*":
                            this.c = this.a * this.b;
                            break;
                        case "/":
                            this.c = this.a / this.b;
                    }
                }
            }
        })
    </script>
</html>